Source: calculator
Section: unknown
Priority: extra
Maintainer: Narainkarthik <narainkarthik812@gmail.com>
Build-Depends: debhelper-compat (= 13),
               dh-python,
               python-all,
               python3-all
Standards-Version: 4.5.1
Homepage: <www.github.com/narainkarthikv/gcalculator>
Rules-Requires-Root: no
#Vcs-Git: https://salsa.debian.org/debian/calculator.git
#Vcs-Browser: https://salsa.debian.org/debian/calculator
#X-Python-Version: >= 2.7

Package: calculator
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: calculator debian package
 a simple calculator to do mathematical operations
